# Database connection (Use pooler URL on port 5432)
DATABASE_URL="postgresql://username:password@host:port/database"

# Cloudflare R2 Credentials
R2_ACCOUNT_ID="your_cloudflare_account_id"
R2_ACCESS_KEY_ID="your_r2_access_key_id"
R2_SECRET_ACCESS_KEY="your_r2_secret_access_key"
R2_BUCKET_NAME="your_r2_bucket_name"
HACKX_R2_BUCKET_NAME="hackx-4"
NEXT_PUBLIC_HACKX_R2_BUCKET_NAME="hackx-4"
R2_PUBLIC_DOMAIN="https://your-public-domain-or-r2-pub-url.com"
HACKX_R2_PUBLIC_DOMAIN="https://your-hackx-r2-public-domain-url.com"

# Revalidation Webhook Integration (Website details)
NEXT_PUBLIC_WEBSITE_URL="http://localhost:3000"
REVALIDATION_TOKEN="your_revalidation_token"
HACKX_WEBSITE_URL="https://hackx-40.vercel.app"
HACKX_REVALIDATION_TOKEN="your_hackx_revalidation_token"

# Supabase Auth configuration
NEXT_PUBLIC_SUPABASE_URL="https://your-supabase-project-ref.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="your_supabase_anon_key"
ADMIN_EMAIL="admin@csdashboard.com"
ADMIN_EMAIL1="pari@ieeecs.com"
ADMIN_EMAIL2="devishi@ieeecs.com"


# HackX Admin Logins
HACKX_ADMIN_EMAIL_VIDHYANSHU="vidhyanshu@ieeecs.com"
HACKX_ADMIN_PASSWORD_VIDHYANSHU="-"
HACKX_ADMIN_EMAIL_RONIT="ronit@ieeecs.com"
HACKX_ADMIN_PASSWORD_RONIT="-"
HACKX_ADMIN_EMAIL_TANMAY="tanmay@ieeecs.com"
HACKX_ADMIN_PASSWORD_TANMAY="-"

